<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>equipe17-log720-A11-lab2</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/equipe17-log720-A11-lab2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
    <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin Portal</web-resource-name>
      <url-pattern>/shared/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Admin Only</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
      <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin Portal</web-resource-name>
      <url-pattern>/shared/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>agent Only</description>
      <role-name>policier</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin Portal</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Admin Only</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Agent Portal</web-resource-name>
      <url-pattern>/agent/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Agent Only</description>
      <role-name>policier</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>policier</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Admin panel</realm-name>
    <form-login-config>
      <form-login-page>/connexion.jsp</form-login-page>
      <form-error-page>/errorConnexionPage.jsp</form-error-page>
    </form-login-config>
  </login-config>
   <servlet>
    <description></description>
    <display-name>listeDossier</display-name>
    <servlet-name>listeDossier</servlet-name>
    <servlet-class>ca.etsmtl.log720.lab2.equipe17_log720_A11_lab2.servlets.listeDossier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeDossier</servlet-name>
    <url-pattern>/shared/listeDossier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listeInfraction</display-name>
    <servlet-name>listeInfraction</servlet-name>
    <servlet-class>ca.etsmtl.log720.lab2.equipe17_log720_A11_lab2.servlets.listeInfraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeInfraction</servlet-name>
    <url-pattern>/shared/listeInfraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterInfraction</display-name>
    <servlet-name>AjouterInfraction</servlet-name>
    <servlet-class>ca.etsmtl.log720.lab2.equipe17_log720_A11_lab2.servlets.AjouterInfraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterInfraction</servlet-name>
    <url-pattern>/admin/AjouterInfraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajouterDossier</display-name>
    <servlet-name>ajouterDossier</servlet-name>
    <servlet-class>ca.etsmtl.log720.lab2.equipe17_log720_A11_lab2.servlets.ajouterDossier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouterDossier</servlet-name>
    <url-pattern>/admin/ajouterDossier</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>detailDossier</display-name>
    <servlet-name>detailDossier</servlet-name>
    <servlet-class>ca.etsmtl.log720.lab2.equipe17_log720_A11_lab2.servlets.detailDossier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailDossier</servlet-name>
    <url-pattern>/shared/detailDossier</url-pattern>
  </servlet-mapping>
</web-app>